.related-products__main {
    display: flex;
    justify-content: center;
    background-color: var(--related-products-background-color);
    width: 100%;
}

.related-products__title {
    font-size: clamp(1.5rem, calc(2.5vw + 1rem), 2rem);
    font-weight: bold;
    padding: 20px 20px 0 20px;
}

.scroll-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    scrollbar-width: none;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 768px) {
    .related-products__main {
        display: block;
    }

    .scroll-container {
        grid-auto-columns: 150px;
    }
}

@media only screen and (min-width: 768px) {
    .related-products__content {
        width: 720px;
    }
}

@media only screen and (min-width: 1200px) {
    .related-products__content {
        width: 1136px;
    }
}

@media only screen and (min-width: 1512px) {
    .related-products__content {
        width: 1304px;
    }
}