.product-detail__main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.product-detail__content {
    padding: 20px 0;
    min-width: 0;
}

.product-detail__row {
    display: flex;
    gap: 20px;
}

.product-detail__image-wrapper {
    display: flex;
    flex-basis: 40%;
}

.product-detail__image {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.product-detail__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 60%;
}

.product-detail__title {
    font-size: clamp(1.25rem, calc(2.5vw + 0.5rem), 1.5rem);
    font-weight: bold;
    margin-bottom: 15px;
    word-break: break-word;
}

.product-detail__short-info-wrapper {
    display: flex;
    flex-direction: column;
}

.product-detail__code {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 15px;
}

.product-detail__code span {
    font-weight: 400;
    color: var(--secondary-text-color);
}

.product-detail__short-info-header {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 15px;
}

.product-detail__short-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 20px;
    word-break: break-word;
}

.product-detail__short-info-item {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 15px;
    justify-items: start;
}

.product-detail__short-info-item>a {
    text-decoration: underline;
    color: var(--main-text-color);
    transition: text-decoration 0.3s ease;
}

.product-detail__short-info-item>a:hover {
    text-decoration: none;
}

.product-detail__short-info--title {
    font-size: 0.875rem;
    color: var(--secondary-text-color);
    margin: 0;
}

.product-detail__short-info--desc {
    font-size: 0.875rem;
    margin: 0;
}

.product-detail__description {
    font-size: 0.875rem;
    margin: 20px 0;
    word-break: break-word;
}

.product-detail__price-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.product-detail__price {
    font-size: 2rem;
    color: var(--product-detail-price-text-color);
}

.product-detail__price span {
    font-size: 1.25rem;
    font-weight: 500;
}

.product-detail__status {
    width: fit-content;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 1px 5px;
}

.product-detail__status.out-of-stock {
    background-color: var(--status-grey-background-color);
    color: var(--status-grey-text-color);
}

.product-detail__status.low-stock {
    background-color: var(--status-orange-background-color);
    color: var(--status-orange-text-color);
}

.product-detail__status.in-stock {
    background-color: var(--status-green-background-color);
    color: var(--status-green-text-color);
}

.block-specific {
    padding-top: 40px;
    scroll-margin-top: 34px;
}

.block-specific__title {
    font-size: clamp(1.125rem, calc(2.5vw + 0.5rem), 1.375rem);
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1;
}

.block-specific__title strong {
    font-weight: 600;
}

.block-specific__content {
    position: relative;
    overflow: hidden;
    max-height: auto;
}

.block-specific__content.hidden {
    max-height: 500px;
}

.block-specific__content.hidden:after {
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #ffffff00, #ffffff);
}

.block-specific__item-header {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 20px;
}

.block-specific__item-variant-row {
    border-bottom: 1px solid var(--border-color);
}

.block-specific__item-variant-row-header {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 20px;
}

.block-specific__item-variant-row-header:first-child {
    padding-top: 0;
}

.block-specific__item-variant-row-down {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 10px;
    padding: 10px 0;
    scrollbar-width: none;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.block-specific__item-variant-row-down::-webkit-scrollbar {
    display: none;
}

.block-specific__item-variant-row-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 5px;
    padding: 7px 17px 8px;
    border-radius: 50px;
    border: 1px solid var(--border-color);
    font-size: 0.875rem;
    color: var(--main-text-color);
    transition: background-color 0.3s ease-in-out;
}

.block-specific__item-variant-row-item:hover {
    background-color: var(--main-button-grey-hover-color);
    cursor: pointer;
}

.block-specific__item-variant-row-item.active,
.block-specific__item-variant-row-item:focus,
.block-specific__item-variant-row-item:active:focus {
    background-color: var(--main-button-focus-color);
    color: var(--main-button-focus-text-color);
    border: 1px solid var(--main-button-focus-border-color);
}

.block-specific__item-variant-row-label {
    font-weight: 600;
}

.block-specific__item-row + .block-specific__item-header {
    padding-top: 45px;
}

.block-specific__item-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-bottom: 1px solid var(--border-color);
    font-size: 0.875rem;
}

.block-specific__item-row-left {
    flex-basis: 30%;
    padding: 25px 0 5px;
}

.block-specific__item-row-right {
    flex-basis: 70%;
    padding: 25px 0 5px;
}

.block-specific__item-row-right>a {
    text-decoration: underline;
    color: var(--main-text-color);
    transition: text-decoration 0.3s ease;
}

.block-specific__item-row-right>a:hover {
    text-decoration: none;
}

.block-specific__toggle-btn-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.block-specific__toggle-btn {
    background-color: var(--main-button-color);
    transition: background-color 0.3s ease;
    border: none;
    color: var(--light-text-color);
    font-weight: 600;
    padding: 10px 25px 11px;
    border-radius: 500px;
    font-size: 0.875rem;
}

.block-specific__toggle-btn:hover {
    background-color: var(--main-button-hover-color);
    cursor: pointer;
}

.block-specific__toggle-btn:focus, .block-specific__toggle-btn:active:focus {
    background-color: var(--main-button-focus-color);
    color: var(--main-button-focus-text-color);
    border: 1px solid var(--main-button-focus-border-color);
}

@media only screen and (max-width: 768px) {
    .product-detail__row {
        flex-wrap: wrap;
    }

    .product-detail__content {
        padding: 20px;
    }

    .product-detail__short-info-wrapper {
        max-width: 500px;
        width: 100%;
        margin: auto;
    }

    .product-detail__short-info-item {
        gap: 4px;
    }

    .product-detail__short-info {
        margin: 0;
    }

    .product-detail__title {
        margin-bottom: 20px;
    }

    .product-detail__info,
    .product-detail__image-wrapper {
        flex-basis: 100%;
    }

    .product-detail__price-row {
        justify-content: center;
        order: -1;
    }

    .block-specific__item-row {
        flex-wrap: wrap;
        gap: 0;
    }

    .block-specific__item-row-left {
        flex-basis: 100%;
        font-size: 0.875rem;
        padding-top: 15px;
    }

    .block-specific__item-row-right {
        flex-basis: 100%;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 769px) {
    .product-detail__content {
        width: 720px;
    }
}

@media only screen and (min-width: 1200px) {
    .product-detail__content {
        width: 1136px;
    }
}

@media only screen and (min-width: 1512px) {
    .product-detail__content {
        width: 1304px;
    }
}