:root {
  --main-green-color: #94B80A;
  --main-dark-green-color: #7a9b0a;
  --main-light-green-color: #afd809;

  /* shadow color */
  --main-shadow-color: #000;
  --product-card-shadow-color: #d3d3d3;
  --back-to-top-shadow-color: rgba(0, 0, 0, 0.05);
  --auth-modal-tabs-shadow-color: #f1f1f1;
  --loader-shadow-color: #000;
  --phone-input-country-list-shadow-color: #d3d3d3;

  /* border color */
  --border-color: #e3e3e3;
  --grey-border-color: #CACACA;
  --delivery-item-border-color: #000;
  --phone-input-arrow-border-color: #555;

  /* background color*/
  --header-background-color: #000;
  --footer-background-color: #000;
  --modal-background-color: #fff;
  --banner-background-color: #f8f9fa;
  --error-page-background-color: #f8f9fa;
  --related-products-background-color: #f8f9fa;
  --product-card-background-color: #fff;
  --product-counter-background-color: #fff;
  --product-out-of-stock-background-color: #F5F5F5;
  --product-low-stock-background-color: #FFF7E9;
  --product-in-stock-background-color: #F5F8E7;
  --label-background-color: #fff;
  --error-background-color: #FFF3F0;
  --red-error-background-color: red;
  --cart-badge-background-color: #dc3545;
  --cart-total-background-color: #F2F2F2;
  --checkout-number-background-color: #f0f0f0;
  --search-background-color: #fff;
  --search-counter-background-color: #000;
  --burger-menu-background-color: #fff;
  --burger-menu-span-background-color: #fff;
  --burger-menu-span-active-background-color: #000;
  --delivery-operator-background-color: #fff;
  --delivery-operator-active-background-color: #F5F8E7;
  --overlay-background-color: rgba(0, 0, 0, 0.5);
  --hover-dropdown-background-color: #f1f1f1;
  --phone-input-background-color: #fff;
  --phone-input-country-hover-color: #f1f1f1;

  /* input color*/
  --error-input-color: red;
  --focus-input-color: #94B80A;
  --hover-input-color: #000;

  /* text color*/
  --main-text-color: #000;
  --secondary-text-color: #707070;
  --light-text-color: #fff;
  --link-text-color: #212529;
  --error-text-color: red;
  --product-out-of-stock-text-color: #707070;
  --product-low-stock-text-color: #FFB628;
  --product-in-stock-text-color: #94B80A;

  /* button color*/
  --main-button-color: #000;
  --main-button-hover-color: #333;
  --main-button-disabled-color: #CACACA;

  --modal-close-button-color: #fff;
  --back-to-top-button-color: #fff;
  --search-return-button-color: #F5F5F5;
  --search-return-button-hover-color: #ECECEC;
}