.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s linear;
    pointer-events: none;
    z-index: 998;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.side-modal {
    z-index: 999;
}

.side-modal .modal-dialog {
    right: -820px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out;
    margin-top: 25px;
}

.side-modal.show .modal-dialog {
    opacity: 1;
    right: 30px;
}

.modal-dialog {
    position: fixed;
    max-width: 840px;
    margin: auto;
    top: 5px;
    height: 100%;
    transform: translate3d(0%, 0, 0);
    z-index: 999;
}

.modal-content {
    width: 100%;
    border: none;
    background: #fff;
    border-radius: 10px;
    display: block;
    box-sizing: border-box;
}

.modal-header {
    border: none;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 2rem 2rem;
}

.modal-body {
    padding: 0 2rem 2rem 2rem;
}

.modal-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #000;
}

.cart-products-count {
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #707070;
    position: relative;
    padding: 0 0 0 20px;
}

.cart-products-count:before {
    content: '•';
    left: 8px;
    top: 0;
    position: absolute;
}

.wrapper-cart {
    position: relative;
}

.wrapper-cart .custom-scroll {
    max-height: calc(100dvh - 280px);
    overflow-y: auto;
    padding: 0 10px 0 0;
    margin: 0 -10px;
}

.checkout__delivery-msg_attention {
    border-radius: 8px;
    padding: 10px 10px 10px 50px;
    position: relative;
    background: #FFF3F0;
    font-size: 14px;
    line-height: 1.35;
    color: #707070;
    margin: 0 0 30px;
}

.checkout__delivery-msg_attention img {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 26px;
    height: 26px;
    margin-top: -13px;
}

.checkout__delivery-msg_attention strong {
    font-weight: 500;
    color: #000;
}

.checkout__delivery-msg_attention p {
    margin: 0 0 2px 0;
}

.cart-page__product {
    margin-bottom: 15px;
}

.cart-page__product-row {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin: 0 0 5px;
}

.cart-page__product-image-wrapper {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 10px;
    padding: 5px;
}

.cart-page__product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-page__product-column-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.cart-page__product-column__row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-page__product-column {
    min-width: 190px;
    width: 100%;
    padding-right: 20px;
}

.cart-page__product-column a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.cart-page__product-column a:hover {
    color: #707070;
}

.cart-page__product-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    max-width: 100%;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-counter {
    margin: 0 10px 0 auto;
    width: 77px;
    position: relative;
    flex-shrink: 0;
}

.product-counter__input {
    width: 100%;
    background: #fff;
    border: 1px solid #CACACA;
    text-align: center;
    border-radius: 50px;
    height: 26px;
    font-size: 12px;
}

.product-counter__input:focus {
    outline: none;
}

.product-counter__btn_subtract {
    width: 18px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5px;
    cursor: pointer;
    z-index: 1;
}

.product-counter__btn_add {
    width: 18px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    z-index: 1;
}

.cart-page__product-price {
    font-size: 16px;
    line-height: 1;
    margin-left: auto;
    white-space: nowrap;
    text-align: right;
    margin-right: 10px;
    min-width: 80px;
}

.cart-page__product-btn_delete {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.modal-close-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    right: -20px;
    top: -20px;
    cursor: pointer;
    position: absolute;
    z-index: auto;
}

.cart-total {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 15px 20px;
    background: #F2F2F2;
    border-radius: 10px;
    margin-top: 20px;
}

.cart-total__column {
    flex: 1;
}

.cart-total__row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cart-total__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
}

.cart-total__value {
    font-weight: 500;
}

.cart-total__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-decoration: none;
    width: 100%;
    height: 40px;
    background-color: #94B80A;
    transition: background-color 0.3s ease-in-out;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
}

.cart-total__btn:hover {
    background-color: #7a9b0a;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .side-modal .modal-dialog {
        top: 0;
        margin-top: 0;
    }

    .side-modal.show .modal-dialog {
        right: 0;
        max-height: 100%;
        max-width: 100%;
    }

    .modal-content {
        max-height: 100vh;
        border-radius: 0;
        height: 100vh;
    }

    .modal-header {
        border-bottom: 1px solid #e3e3e3;
        padding: 1.5rem 0 1.5rem 1.5rem;
    }

    .modal-body {
        padding: 1.5rem;
    }

    .modal-close-button {
        right: 10px;
        top: 10px;
    }

    .cart-page__product-column-wrapper {
        flex-wrap: wrap;
    }

    .cart-page__product-column {
        width: 100%;
        padding: 0;
    }

    .cart-page__product-column__row {
        flex: 1;
        margin-top: 10px;
    }

    .product-counter {
        margin: 0;
    }
    
    .cart-total {
        flex-wrap: wrap;
    }

    .cart-total__column {
        flex-basis: 100%;
    }
    
    .cart-total__btn {
        margin-top: 10px;
    }
}