.orders__header {
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 1.5rem;
}

.orders__empty,
.orders__error {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 1rem;
}

.order-item {
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 15px;
}

.orders__section--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.orders__section--content-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out;
}

.orders__section.open .orders__section--content-wrapper {
    grid-template-rows: 1fr;
}

.orders__section--content {
    overflow: hidden;
}

.order-item__delivery-status-wrapper {
    padding: 0 10px 0 0;
    min-width: 190px;
}

.order-item__delivery-status--row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 7px;
}

.order-item__delivery-status {
    white-space: nowrap;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 3px 5px;
    line-height: 1;
    margin: 0 10px 0 0;
}

.order-item__delivery-created-at {
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--profile-order-item-text-color);
}

.order-item__delivery_warehouse {
    padding: 0 15px 0 0;
}

.order-item__delivery_warehouse_type {
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--main-text-color);
    padding: 0 0 5px 0;
}

.order-item__delivery_warehouse_name {
    font-weight: 400;
    font-size: 0.813rem;
    color: var(--main-text-color);
}

.order-item__number {
    font-weight: 500;
    font-size: 1rem;
}

.order-item__payment-temp-status-wrapper,
.order-item__payment-status-wrapper {
    flex-grow: 1;
}

.order-item__payment-temp-status-wrapper .order-item__payment-status {
    float: left;
}

.order-item__payment-status {
    float: right;
    white-space: nowrap;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 3px 5px;
    line-height: 1;
    margin-right: 15px;
}

.order-item__payment-status.orange,
.order-item__delivery-status.orange {
    background-color: var(--status-orange-background-color);
    color: var(--status-orange-text-color);
}

.order-item__payment-status.green,
.order-item__delivery-status.green {
    background-color: var(--status-green-background-color);
    color: var(--status-green-text-color);
}

.order-item__payment-status.grey,
.order-item__delivery-status.grey {
    background-color: var(--status-grey-background-color);
    color: var(--status-grey-text-color);
}

.order-item__btn-pay-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.order-item__btn-pay {
    text-decoration: none;
    min-height: 45px;
    min-width: 190px;
    padding: 10px 30px;
    background-color: var(--main-green-color);
    transition: background-color 0.3s ease-in-out;
    border: none;
    color: var(--light-text-color);
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 50px;
}

.order-item-pay:hover {
    background-color: var(--main-dark-green-color);
    cursor: pointer;
}

.order-item__btn-pay:focus, .order-item__btn-pay:active:focus {
    background-color: var(--main-button-focus-color);
    color: var(--main-button-focus-text-color);
    border: 1px solid var(--main-button-focus-border-color);
}

.order-item__btn-toggle {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--main-button-color);
    border: 1px solid var(--profile-order-item__btn-border-color);
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.order-item__btn-toggle img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 17px;
    height: 17px;
    filter: brightness(0) invert(1);
    transform: translate(-50%, -50%) rotate(180deg);
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform-origin: center;
}

.orders__section.open .order-item__btn-toggle img {
    filter: none;
    transform: translate(-50%, -50%) rotate(0deg);
}

.orders__section.open .order-item__btn-toggle {
    background-color: var(--profile-order-item__btn-active-background-color);
    border: 1px solid var(--profile-order-item__btn-active-border-color);
}

.order-item__products-quantity {
    margin-left: auto;
    min-width: 70px;
    padding-right: 10px;
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--profile-order-item-text-color);
}

.orders__section--content-body {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.order-details__left,
.order-details__right {
    flex-basis: 50%;
}

.order-details__item {
    display: flex;
    align-items: baseline;
    margin: 0 0 15px 0;
    font-size: 0.813rem;
}

.order-details__item:last-child {
    margin: 0;
}

.order-details__item-label {
    color: var(--profile-order-item-text-color);
}

.order-details__item-label,
.order-details__item-value {
    width: 50%;
    min-width: 50%;
    word-break: break-word;
}

.order-details__item-delivery-warehouse-type-image {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.order-details__cart-product-list {
    margin: 0 0 20px 0;
    max-height: 330px;
    overflow-y: auto;
}

.cart__product {
    padding: 15px 0;
    border-bottom: 1px solid var(--border-color);
}

.cart__product-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.cart__product-image-wrapper {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 10px;
    padding: 5px;
}

.cart__product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart__product-col-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.cart__product-col-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__product-col-info {
    width: 100%;
    word-break: break-word;
}

.cart__product-col-info a {
    text-decoration: none;
    color: var(--main-text-color);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.cart__product-col-info a:hover {
    color: var(--secondary-text-color);
}

.cart__product-title {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.3;
    max-width: 100%;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cart__product-price-wnum {
    font-size: 0.75rem;
    font-weight: 500;
    text-align: right;
    margin-right: 10px;
    min-width: 90px;
}

.cart__product-price-wnum span {
    color: var(--order-detail-price-wnum-text-color);
}

.cart__product-price-total {
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    margin-right: 10px;
    min-width: 90px;
}

.order-details__total-info-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 3px 0;
}

.order-details__total-info-item-label {
    font-size: 0.813rem;
    color: var(--profile-order-item-text-color);
}

.order-details__total-info-item-value {
    white-space: nowrap;
    font-size: 0.813rem;
    font-weight: 500;
}

.order-details__total-info-item-value.total {
    font-size: 1rem;
}

@media only screen and (max-width: 1200px) {
    .order-item__delivery_warehouse {
        display: none;
    }
}

@media only screen and (max-width: 968px) {
    .order-item__delivery-status-wrapper {
        padding: 0;
        width: 45%;
        min-width: 45%;
    }

    .order-item__payment-temp-status-wrapper,
    .order-item__btn-pay-wrapper {
        width: 55%;
        min-width: 55%;
    }

    .order-item__delivery_warehouse {
        display: block;
        padding: 0;
        width: 55%;
        min-width: 55%;
    }

    .order-item__delivery_warehouse_name {
        padding: 0 30px 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .order-item__payment-status-wrapper {
        display: none;
    }

    .orders__section--header {
        flex-wrap: wrap;
        position: relative;
    }

    .order-item__btn-toggle {
        position: absolute;
        right: 0;
        top: 0;
    }

    .order-item__products-quantity {
        margin: 0 auto 0 0;
        padding: 15px 0 0 0;
    }

    .order-details__left,
    .order-details__right {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .order-item__delivery-status-wrapper {
        padding: 0;
        width: 100%;
        min-width: 100%;
    }

    .order-item__payment-temp-status-wrapper,
    .order-item__btn-pay-wrapper {
        padding: 10px 0 0 0;
        width: 100%;
        min-width: 100%;
    }

    .order-item__delivery_warehouse {
        display: none;
    }
}