.container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 500px;
}

.container__body {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.title {
    font-weight: 600;
    font-size: 1rem;
}

.forms__item {
    margin: 0 0 15px 0;
}

.form-floating {
    position: relative;
}

.form-floating input {
    height: 44px;
    padding: 0 18px;
    border: 1px solid var(--grey-border-color);
    border-radius: 10px;
    font-size: 0.875rem;
    width: 100%;
    outline: none;
}

.has-error input {
    border: 1px solid var(--error-input-color);
}

.form-floating input:focus {
    border: 1px solid var(--focus-input-color);
}

.form-floating:not(.has-error) input:hover:not(:focus) {
    border: 1px solid var(--hover-input-color)
}

.form-floating label {
    position: absolute;
    display: flex;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    height: 14px;
    top: -8px;
    background: var(--label-background-color);
    color: var(--secondary-text-color);
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0 5px;
    left: 13px;
}

.error-message {
    color: var(--error-input-color);
    margin: 0;
    padding: 5px 19px 0 19px;
    font-size: 80%;
}

.error-message p {
    margin: 0;
}

.save-password-form__btn {
    width: 100%;
    background-color: var(--main-button-color);
    transition: background-color 0.3s ease;
    text-decoration: none;
    border: none;
    color: var(--light-text-color);
    font-weight: 600;
    padding: 10px 25px 11px;
    border-radius: 500px;
    font-size: 0.875rem;
}

.save-password-form__btn:disabled {
    background-color: var(--main-button-disabled-color);
}

.save-password-form__btn:hover:not(:disabled) {
    background-color: var(--main-button-hover-color);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}