.ErrorPage404__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--container-background-color);
  box-shadow: 0px 0px 50px 0px var(--main-shadow-color) inset;
}

.ErrorPage404__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  max-width: 343px;
  padding: 40px 10px;
}

.ErrorPage404__text404 {
  font-size: 5.25rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.84px;
  color: var(--main-text-color);
  margin: 0;
}

.ErrorPage404__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.ErrorPage404__explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.ErrorPage404__main-text {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-text-color);
  margin: 0;
  line-height: 1.2;
}

.ErrorPage404__details {
  font-size: 0.875rem;
  color: var(--main-text-color);
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
}

.ErrorPage404__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  max-width: 220px;
  height: 40px;
  background-color: var(--main-button-color);
  transition: background-color 0.3s ease-in-out;
  border: none;
  color: var(--light-text-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
}

.ErrorPage404__button:hover {
  background-color: var(--main-button-hover-color);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .ErrorPage404__page {
    height: 598px;
  }

  .ErrorPage404__container {
    max-width: 558px;
    gap: 20px;
  }

  .ErrorPage404__text404 {
    font-size: 12.5rem;
  }

  .ErrorPage404__main-text {
    font-size: 3rem;
  }

  .ErrorPage404__details {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .ErrorPage404__page {
    height: 418px;
  }

  .ErrorPage404__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1512px;
    gap: 50px;
    text-align: start;
  }

  .ErrorPage404__text404 {
    font-size: 12.5rem;
    line-height: 1;
    margin-right: 80px;
  }

  .ErrorPage404__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
  }

  .ErrorPage404__explanation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .ErrorPage404__main-text {
    font-size: 3rem;
    line-height: 1.2;
  }

  .ErrorPage404__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
  }
}