.related-products__main {
    display: flex;
    justify-content: center;
    background-color: var(--related-products-background-color);
    width: 100%;
}

.related-products__title {
    font-size: clamp(1.5rem, calc(2.5vw + 1rem), 2rem);
    font-weight: bold;
    padding: 20px 0 0 0;
}

.scroll-container-wrapper {
    position: relative;
    width: 100%;
}

.scroll-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    scrollbar-width: none;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 20px 0;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--scroll-btn-color);
    border: 1px solid var(--border-color);
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 1px 8px var(--scroll-btn-shadow-color);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.scroll-btn.left.active,
.scroll-btn.right.active {
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
}

.scroll-btn.left {
    left: -17px;
}

.scroll-btn.right {
    right: -17px;
}

.scroll-btn.left::before,
.scroll-btn.right::before {
    position: absolute;
    content: "";
    top: 50%;
    width: 12px;
    height: 12px;
    background: url("/svg/up.svg") center / contain no-repeat;
    background-size: 12px 12px;
    filter: brightness(0) invert(0);
}

.scroll-btn.left::before {
    transform: translateY(-50%) rotate(-90deg);
}

.scroll-btn.right::before {
    transform: translateY(-50%) rotate(90deg);
}

@media only screen and (max-width: 768px) {
    .related-products__main {
        display: block;
    }

    .scroll-container-wrapper {
        padding: 0 20px;
    }

    .scroll-container {
        grid-auto-columns: 175px;
    }

    .scroll-btn.left {
        left: 2px;
    }

    .scroll-btn.right {
        right: 2px;
    }

    .related-products__title {
        padding: 20px 20px 0 20px;
    }
}

@media only screen and (min-width: 768px) {
    .related-products__content {
        width: 720px;
    }
}

@media only screen and (min-width: 1200px) {
    .related-products__content {
        width: 1136px;
    }
}

@media only screen and (min-width: 1512px) {
    .related-products__content {
        width: 1304px;
    }
}