.product-detail__main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.product-detail__content {
    padding: 30px;
}

.product-detail__row {
    display: flex;
    gap: 20px;
}

.product-detail__image-wrapper {
    display: flex;
    flex-basis: 40%;
}

.product-detail__image {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.product-detail__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 60%;
}

.product-detail__categories {
    font-size: 1rem;
    margin-bottom: 10px;
}

.product-detail__title {
    font-size: clamp(1.875rem, calc(2.5vw + 1rem), 2.5rem);
    font-weight: bold;
    margin-bottom: 10px;
    word-break: break-word;
}

.product-detail__description {
    font-size: 1rem;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
    word-break: break-word;
}

.product-detail__price {
    font-size: 1.25rem;
    color: var(--main-text-color);
    margin-bottom: 10px;
}

.product-detail__availability {
    font-size: 0.875rem;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.product-detail__out-of-stock {
    font-size: 1rem;
    color: var(--error-text-color);
}

.buy-now-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    background-color: var(--main-button-color);
    transition: background-color 0.3s ease-in-out;
    border: none;
    color: var(--light-text-color);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 50px;
}

.buy-now-button:hover {
    background-color: var(--main-button-hover-color);
    cursor: pointer;
}

.buy-now-button span {
    position: relative;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.875rem;
    font-weight: 600;
}

.buy-now-button span img {
    position: absolute;
    top: 50%;
    left: 0;
    translate: -50% -50%;
}

@media only screen and (max-width: 768px) {
    .product-detail__row {
        flex-wrap: wrap;
    }

    .product-detail__content {
        padding: 20px;
    }

    .product-detail__info,
    .product-detail__image-wrapper {
        flex-basis: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .product-detail__content {
        width: 720px;
    }
}

@media only screen and (min-width: 1200px) {
    .product-detail__content {
        width: 1136px;
    }
}

@media only screen and (min-width: 1512px) {
    .product-detail__content {
        width: 1304px;
    }
}