.overlay {
    position: fixed;
    inset: 0;
    background: var(--overlay-background-color);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    z-index: 998;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}