.navbar-wrapper {
    background-color: var(--header-background-color);
    padding: 10px 20px 10px 20px;
    box-shadow: 0 0 10px 1px var(--main-shadow-color);
}

.navbar-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content-wrapper a {
    text-decoration: none;
}

.navbar-element {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    gap: 2px;
}

.navbar-element.active span {
    color: var(--main-dark-green-color);
}

.navbar-element.active .icon {
    filter: none;
}

.icon {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}

.navbar-cart-badge {
    position: absolute;
    top: 6px;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 0.65rem;
    padding: 0.25em 0.6em;
    background-color: var(--cart-badge-background-color);
    color: var(--light-text-color);
    border-radius: 50px;
    font-weight: bold;
    line-height: 1;
}

.navbar-element__text {
    color: var(--light-text-color);
    font-size: 0.75rem;
    font-weight: 500;
}