.navbar-wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--header-background-color);
    box-shadow: 0 0 10px 1px var(--main-shadow-color);
}

.navbar-content {
    display: flex;
    max-width: calc(1512px - 208px);
    width: 100%;
    padding: 16px 23px;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo a {
    color: var(--light-text-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-utility-bar {
    display: flex;
    gap: 24px;
    z-index: 1;
}

.navbar-user-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.user-icon-wrapper {
    position: relative;
    display: inline-block;
}

.authorized-check-icon {
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 3px;
    right: -4px;
}

.navbar-cart-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.cart-icon-wrapper {
    position: relative;
    display: inline-block;
}

.navbar-cart-badge {
    position: absolute;
    text-align: center;
    top: 6px;
    left: 40%;
    line-height: 15px;
    min-width: 18px;
    transform: translate(50%, -50%);
    font-size: 0.65rem;
    padding: 0.125em;
    background-color: var(--cart-badge-background-color);
    color: var(--light-text-color);
    border-radius: 50%;
    font-weight: bold;
}

.search-wrapper {
    display: block;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .search-wrapper {
        display: none;
    }

    .navbar-utility-bar {
        display: none;
    }

    .navbar-content {
        padding: 16px 23px 0 23px;
    }
}