@font-face {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 100 900;
    src: local('Geologica-VariableFont'), local('Geologica-VariableFont'),
      url('/public/fonts/Geologica-VariableFont.ttf') format('truetype');
}


:root {
  --font-main: 'Geologica', sans-serif;
}
