* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

img {
  vertical-align: middle;
}

input {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

:root {
  display: flex;
  scroll-behavior: smooth;
  font-family: 'Montserrat', system-ui, sans-serif;
}