.header {
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 6;
}

.header-mobile-search {
    display: none;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 23px;
    background: var(--header-background-color);
    box-shadow: 0 0 10px 1px var(--main-shadow-color);
    z-index: 5;
}

.header-mobile-navbar {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 6;
}

@media only screen and (max-width: 768px) {
    .header {
        position: relative;
    }

    .header-mobile-search {
        display: block;
    }

    .header-mobile-navbar {
        display: block;
    }
}