.banner__main {
    display: flex;
    justify-content: center;
    flex-grow: 0 !important;
    text-align: center;
    width: 100%;
    background-color: var(--banner-background-color);
}

.banner__content {
    padding: 20px;
    min-width: 0;
}

.banner__subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.banner__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-decoration: none;
    width: 100%;
    max-width: 150px;
    height: 40px;
    background-color: var(--main-button-color);
    transition: background-color 0.3s ease-in-out;
    border: none;
    color: var(--light-text-color);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
}

.banner__button:hover {
    background-color: var(--main-button-hover-color);
    cursor: pointer;
}

.banner__button:focus, .banner__button:active:focus {
    background-color: var(--main-button-focus-color);
    color: var(--main-button-focus-text-color);
    border: 1px solid var(--main-button-focus-border-color);
}

@media only screen and (min-width: 768px) {
    .banner__content {
        width: 720px;
    }
}

@media only screen and (min-width: 1200px) {
    .banner__content {
        width: 1136px;
    }
}

@media only screen and (min-width: 1512px) {
    .banner__content {
        width: 1304px;
    }
}