.container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 500px;
}

.container__body {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
}

.title {
    font-weight: 600;
    font-size: 16px;
}

.forms__item {
    margin: 0 0 15px 0;
}

.form-floating {
    position: relative;
}

.form-floating input {
    height: 44px;
    padding: 0 18px;
    border: 1px solid #CACACA;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    outline: none;
}

.has-error input {
    border: 1px solid red;
}

.form-floating input:focus {
    border: 1px solid #94B80A;
}

.form-floating:not(.has-error) input:hover:not(:focus) {
    border: 1px solid #000
}

.form-floating label {
    position: absolute;
    display: flex;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    height: 14px;
    top: -7px;
    background: #fff;
    color: #707070;
    font-size: 12px;
    font-weight: 500;
    padding: 0 5px;
    left: 13px;
}

.error-message {
    color: red;
    margin: 0;
    padding: 5px 19px 0 19px;
    font-size: 80%;
}

.error-message p {
    margin: 0;
}

.save-password-form__btn {
    width: 100%;
    background-color: #000;
    transition: background-color 0.3s ease;
    text-decoration: none;
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 10px 25px 11px;
    border-radius: 500px;
    font-size: 16px;
}

.save-password-form__btn:disabled {
    background-color: #CACACA;
}

.save-password-form__btn:hover:not(:disabled) {
    background-color: #333;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}